@font-face {
    font-family: 'FANTASY MAGIST';
    src: url('tipografias/FANTASY MAGIST.otf') format('truetype'); /* TTF */
}
@font-face {
    font-family: 'Montserrat';
    src: url('tipografias/Montserrat-Regular.ttf') format('truetype'); /* TTF */
}
.tipo1 {margin-top: 15px;
	margin-bottom: 5px;
	font-size: 30px;
	font-family: 'FANTASY MAGIST';
	
}
.tipo2 {font-family: 'Montserrat';
}
.tipo3 {font-family: 'FANTASY MAGIST';
	font-size: 40px;
	color: #DC8686
	
}.tipo4 {margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 60px;
	font-family: 'FANTASY MAGIST';
	color: #DC8686;
	line-height: 0.7;
}
.tipo7 {margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 40px;
	font-family: 'FANTASY MAGIST';
	color: #DC8686;
	line-height: 1.7;
}
.margen2 {margin-bottom: 0;
	
}
.margen3 {margin-right: 180px;
	margin-left: 180px;

}
.svg-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
 width: 100%;
}

.parrafos {display: flex;
}
.parrafo1 {margin-right: 100px;
	margin-left: 100px;
	
}
.parrafo2 
	{margin-right: 100px;
		margin-bottom: 300px;
		
	
}
.parrafo3 {margin-left: 300px;
}
.mision {margin-left: 390px;
}
.vision {margin-left: 180px;
}
.valores{margin-left: 200px;
}
.margens {margin-bottom: 20px;
}
.column1{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.column2{
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}
.header{
	text-align: left;
}

.columnas{
	padding-left: 110px;
	padding-right: 110px;
}

.size{
	font-size:35px;
}

.size2{
	font-size:48px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 15px; /* Ajusta el valor según el redondeo que desees */
    overflow: hidden; /* Para asegurarte de que la imagen no sobresalga de los bordes redondeados */
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit; /* Hereda el redondeo de las esquinas del contenedor */
}


.legal {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #323D3D;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 0; /* Espaciado interno superior e inferior */
}

.column3{
	text-align: justify;
	margin-bottom: 5px;
}
.column4{
	text-align: justify;
	padding-bottom: 0;
	margin-bottom: 0;
}

.column4,.column3{
	font-size: 17px;	
}


#ubicacion{
	margin-bottom: 5px;
}

.linea {
	position: relative;
	text-align: center;
}

.linea hr {
	border: none;
	height: 8px; /* Grosor de la línea */
	background-color: #ff0000; /* Color de la línea */
	margin: 41px 0; /* Margen superior e inferior */
	display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
}

.linea .texto {
	position: absolute;
	top: -10px; /* Ajustar la posición verticalmente según el grosor de la línea */
	background-color: white; /* Igualar el color de fondo del contenedor con el fondo del texto */
	padding: 0 10px; /* Espaciado horizontal */
}

.blog{
	max-width: 90%;
}

.card{
	position: relative;
	right: 0;
}

.caja {
    background-color: rgba(255, 255, 255, 0.4); /* blanco con 80% de opacidad */
	border-radius: 10px;
}

.caja2{
	margin: 10px;
}

.card-body{
	padding: 0.3rem;
}

.boton{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.border2{
	border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.card{
	background-color: #f0f0f0;
}

.card2 {	
		position: relative;
		width: 16rem;
		height: auto;
		background-color: #f0f0f0;
		border-radius: 10px;
		margin-top: 2vh;
}
  
  .circle {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #3498db;
    border-radius: 50%;
    z-index: 1; /* Asegura que el círculo esté delante del contenido de la tarjeta */
  }
  
  .content {
    position: relative;
    z-index: 2; /* Asegura que el contenido de la tarjeta esté delante del círculo */
    padding: 10px;
	text-align: center;
  }
  
  .buscar {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	max-width: 100%;
	margin-top: 10px;
  }
  
  .input {
	width: 100%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: 0.3s ease;
  }
  
  .input::placeholder {
	color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
	outline: none;
	border-color: rgba(0, 48, 73, 0.4);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
  }
  
  .icon {
	position: absolute;
	left: 1rem;
	fill: #9e9ea7;
	width: 1rem;
	height: 1rem;
  }
  
  .text-bucar{
	margin-top: 20px;
  }
  .justificar{
	text-align: justify;
  }

  .margen{
	padding: 10px;
  }

  .card-title{
	margin-top: 10px;
	margin-left: 10px;
  }

  .espacio_titulo {
	margin-top: 15px;
	margin-bottom: 20px;
}

.espacio-formulario{
	margin-top: 30px;
	margin-bottom: 45px;
}